body {
  font-family: "PT Sans", sans-serif;
  color: #f6f5f5;
}
h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 26px;
  text-align: left;
  margin-bottom: 5px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
li:first-letter {
    text-transform: capitalize;
}
.app-wrap {
  max-width: 600px;
  margin: 25px auto;
}
.weather-app {
  padding: 25px;
  border: 1px solid #7e7f9a;
  border-radius: 20px;
}
.loc-overview {
  margin-bottom: 25px;
}
.weather-temp img {
  margin-right: 15px;
  height: 60px;
  width: 60px;
}

.weather-temp strong {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  line-height: 1;
}
.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -5px;
}

.weather-temp .active {
  color: black;
  cursor: default;
}
.weather-temp .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 13px;
  opacity: 0.7;
}

.forecast-temp {
  font-size: 11px;
}

.forecast-temp-min {
  opacity: 0.6;
}
.app-wrap {
  width: 800px;
  margin: 20px auto;
  background: #114b5f;
  padding: 15px;
  border-radius: 20px;
}
.btn {
  background-color: #f08700;
}

.card-group {
  width: 100%;
}